<app-header></app-header>
<br/>
<br/>
<div class="contet" style="margin:30px;">
<table class="table display" border="1" id="tabela">
  <thead class="thead-dark">
    <th>Nome</th>
    <th>Data de Entrega</th>
    <th>Disciplina</th>
    <th>Descrição</th>
    <th>Estado</th>
    <th>Ações</th>
    
  </thead>
  <tbody>
  <tr *ngFor="let tarefa of tarefas">
    <td>{{ tarefa.nome }}</td>
    <td>{{ tarefa.date }}</td>
    <td>{{ tarefa.diciplina }}</td>
    <td>{{ tarefa.descricao }}</td>
    <td>
      {{ (tarefa.estado) ? 'Feito' : 'Não feito' }}
      <form (submit)="AlteraStatus(tarefa.chave)">
        <input type="submit" class="btn btn-primary" value="Alterar">
      </form>
    </td>
    <td>
    <button class="btn btn-warning"> Editar </button>
    <button class="btn btn-danger" style="margin-left: 20px;"> Excluir </button></td>
    
    
  </tr>
  </tbody>
  </table>
</div>
  <br/> 
  <a href="/"><button class="btn btn-primary">Voltar</button></a>
<br/>
<br/>
